<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://hermes.dio.me/articles/cover/fb641ee6-0898-4a1d-8f6a-b7816e787c22.png"
      alt=""
      >
    </div>
    <div class="small-card__title">
      <h1><h6> {{ cardDate | date: 'MMMM d, y' }} </h6><h1><a href="https://www.typescriptlang.org/">Você sabe como implementar o TypeScript na sua aplicação?</a></h1></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>
</div>
