<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/marcos-ben-hur-dorneles-da-silva-33249a70/"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://www.linkedin.com/in/marcos-ben-hur-dorneles-da-silva-33249a70/">Linkedin</a></li>
    <li><a href="https://github.com/MarcosBenHurSilva"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://github.com/MarcosBenHurSilva">Github</a></li>
    <li><a href="https://www.youtube.com/@Angular"><i class="fa-brands fa-youtube"></i></a></li>
    <li><a href="https://www.youtube.com/@Angular">Youtube</a></li>
  </ul>
</div>
